.l1{
    border: 15px solid green;
}
.navbar{
    position: absolute;
    margin-right: 150px;
}
ul.menu li{
    display: inline-block;
    list-style: none;
}
ul.menu li a {
    display: block;
    color: black;
    padding-right:50px;
    text-decoration: none;
}
ul.menu li a:hover{
    background-color: green;
    border-radius: 25px;
    color: white;
    padding:5px 10px;
    cursor:pointer;
}
.shop{
    direction: ltr;
    text-align: left;
    padding-left: 80px;
}
ul.menu1 li{
    display: inline-block;
    list-style: none;
}
ul.menu1 li a{
    display: block;
    color: white;
    padding:10px;
    text-decoration: none;
}
.shopping{
    background-color:green;
    border-radius: 30px;
    padding:0px 15px;
}
.hr{
    box-shadow:2px 2px 10px #888888;
}
.logo{
    width: 10%;
    height: 2%;
    float: right;
    padding-right:5%;
}
.h2{
    text-align: center;
}
div.gallery {
    float:left;
    width: 30%;

}
 div.gallery img {
    background-color: yellow;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin-top: 10%;
    margin-right: 28%;
}
div.doc {
    padding: 15px;
    text-align:center;
}
.second-child{
    margin-right: 5%;
    margin-left: 5%;
}